*{
    box-sizing:border box;
    margin:0;
    max-width:100% ;
    border:1px solid grey;
}

html{
    font-size:62.5%;
    
}
body {
    background-color:white;
    font-family: fantasy;
    text-transform: uppercase;
}

.main div{
    display:flex;
    align-items: center; 
}
.main .me a button {
    width: 150px;
    height: 40px;
    background-color:#B5BAD0;
    border-style:dotted;
    font-weight: bolder;
}

.main .me {
    display:flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 0% 5%;
    height: 30vh;
    align-items: flex-start;
}

.main img {
    height: 60vh;
    width: 45%;
    padding-top: 3%;
    padding-left: 3%;
}
h1{
    font-size: 5rem;
    margin-left: 3%;
    color: white;
    padding:1%;
}

h2 {
    font-size: 3rem;
}
header{
    background-color: #191923;
    height: 30vh;
    width:100vw;
 }

 p{
     font-size: 1.9rem;
 }

nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    font-size: 1.6rem;
    text-align: center;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black ;
    width: 8%;
    height: 5vh;
    color:black;
    background-color:#B5BAD0;
    text-decoration: none;
}

img{
    height: 30vh;
    width: 20%;
    padding: 2%;
}

.textTop, .textBottom{
    display:flex;
    justify-content:space-evenly;
}

.textTop p, .textBottom p{
    height: auto;
    width: 20%;
    padding: 1%;
    text-align: center;
    
}
.gallery .galleryTop, .gallery .galleryBottom{
    display: flex;
    justify-content: space-evenly;
}
footer p {
    font-size: 4em;
    color:white;
}

footer a button {
    width: 150px;
    height: 60px;
    background-color:#B5BAD0;
    border-style: dotted;
    font-weight: bolder;
}

footer {
    background-color:black;
    height: 50vh;
    width:100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

span{
    font-size: 3em;
    color:white;
    width:5%;
}
.social{
    display: flex;
    flex-flow: row;
    width:50%;
    justify-content: center;
    justify-content: space-around;
    padding:2% 2%;
}

